/* styles/Home.module.css */

.container {
  padding: 0 2rem;
}

.header {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.navList {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navList li {
  margin: 0 1rem;
}

.navList a {
  text-decoration: none;
  color: #0070f3;
  font-weight: bold;
}

.navList a:hover {
  text-decoration: underline;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #555;
}

.footer {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eaeaea;
}
.supportSection {
  margin-top: 2rem;
  max-width: 800px;
  text-align: left;
}

.supportSection a {
  color: #0070f3;
  text-decoration: none;
}

.supportSection a:hover {
  text-decoration: underline;
}

/* styles/Home.module.css */

.faqSection {
  max-width: 800px;
  margin: 2rem auto;
  text-align: left;
}

.faqSection h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.faqSection p {
  font-size: 1.2rem;
  color: #555;
  margin: 0.5rem 0 1.5rem;
}

.faqSection a {
  color: #0070f3;
  text-decoration: none;
}

.faqSection a:hover {
  text-decoration: underline;
}
